# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/
.venv/

# Environment variables file
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Streamlit cache and logs
.streamlit/
.streamlit/cache/
.streamlit/secrets.toml

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Logs
*.log

# VSCode settings
.vscode/
